body {
  min-width: 0;
  min-height: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border: 1px solid red;
}

.greeting {
  display: flex;
  justify-content: center;
  border: 1px solid lightblue;
  padding: 10px;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-links li {
  display: flex;
  padding: 10px 20px;
  /* border: 1px solid white; */
}

.nav-links li:hover {
  background-color: bisque;
}

li {
  list-style: none;
}

.main-container {

}